html {
  font-family: "Titillium Web", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --green1: #567901;
  --green2: #e6ebaa;
  --green1-transp: rgb(86, 121, 1, 0.7);
  --valid-red: #a00000;
  --valid-green: #349607;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*****************/
/* LOGO */
/*****************/
@font-face {
  font-family: "Norse Bold";
  src: url(Norse-Bold.otf);
}

.logo-name {
  font-family: "Norse Bold";
  font-size: 3rem;
}

/*****************/
/* SECTION LEFT */
/*****************/
.left-section {
  width: 50%;
  background-color: var(--green1);
  background-image: url(imgs/background.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

  position: relative;
}

.logo-name {
  width: 100%;
  height: 100px;
  background-color: var(--green1-transp);
  color: white;
  font-size: 6.4rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;

  top: 25%;
}

.logo-image {
  width: 60px;
}

.credit {
  width: 100%;
  font-size: 1.6rem;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 5px;
}

.credit-link {
  color: inherit;
}

/*****************/
/* SECTION RIGHT */
/*****************/
.right-section {
  width: 50%;
  background-color: var(--green2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.container {
  width: 100%;
}

.section-header {
  padding: 6rem 2.8rem;
}

.section-header > p {
  color: var(--green1);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
}

.section-header > p:nth-child(2) {
  margin-bottom: 1.8rem;
}

.form {
  background-color: white;
  padding: 2rem 2.8rem 3rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4rem;
  row-gap: 1.4rem;
}

.form-heading {
  font-size: 2.4rem;
  font-weight: 600;
  grid-column: 1/-1;
}

.inputs-left,
.inputs-right {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.label {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2px;

  position: relative;
}

.form input {
  border: 1px solid #ccc;
  display: block;
  padding: 0.5rem 1rem;
  min-width: 25rem;
  position: relative;
}

.form input:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--valid-red);
  box-shadow: inset 0 0 10px rgba(230, 95, 95, 0.5);
}

.form input:required:valid:not(:placeholder-shown) {
  border-color: var(--valid-green);
  box-shadow: inset 0 0 10px rgba(52, 150, 7, 0.5);
}

.form input::placeholder {
  opacity: 0.7;
}

.form input:invalid:not(:placeholder-shown) + .error {
  display: block;
}

.label[for*="name"]::after,
.label[for*="name"]::after,
.label[for="email"]::after,
.label[for|="password"]::after {
  content: "*";
  font-size: 1.8rem;
  color: var(--valid-red);

  position: absolute;
  right: -1.2rem;
}

.error {
  display: none;
  color: var(--valid-red);
  font-size: 1.2rem;
  font-weight: 600;

  position: absolute;
  margin-top: 2px;
}

.bottom {
  padding: 3.5rem 2.8rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--green1);
  color: white;
  border: none;
  cursor: pointer;

  padding: 1rem 3.5rem;
  border-radius: 8px;
  margin-bottom: 2.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.login {
  color: var(--green1);
  font-size: 1.8rem;
}

.login-link {
  font-weight: 600;
}
