/*****************/
/* GENERAL */
/*****************/
@font-face {
  font-family: "Norse Bold";
  src: url(Norse-Bold.otf);
}

html {
  font-family: "Titillium Web", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --green1: #567901;
  --green2: #e6ebaa;
  --green1-transp: rgb(86, 121, 1, 0.7);
  --valid-red: #a00000;
  --valid-green: #349607;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

main {
  display: flex;
  height: 100vh;
  min-width: 30rem;
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.section {
  width: 50%;
  flex-shrink: 0;
}

.inputs {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

/*****************/
/* SECTION LEFT */
/*****************/
.section--left {
  background-color: var(--green1);
  background-image: url(imgs/background.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

  position: relative;
}

.logo-name {
  font-family: "Norse Bold";
  height: 20rem;
  width: 100%;
  background-color: var(--green1-transp);
  color: white;
  font-size: 12rem;
  padding: 1.2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  top: 17%;
}

.logo-image {
  width: auto;
  height: 100%;
}

.credit {
  width: 100%;
  font-size: 1.6rem;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 5px;
  z-index: 999;
}

.credit-link {
  color: inherit;
}

/*****************/
/* SECTION RIGHT */
/*****************/
.section--right {
  background-color: var(--green2);
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  padding: 6rem 2.8rem;
}

.section-header > p {
  max-width: 50ch;
  color: var(--green1);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
}

.section-header > p:nth-child(2) {
  margin-bottom: 1.8rem;
}

.form {
  color: #555;
  background-color: white;
  padding: 2rem 2.8rem 3rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4rem;
  row-gap: 1.4rem;
}

.form-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  grid-column: 1/-1;
}

.label {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2px;

  position: relative;
}

.form input {
  min-width: 20rem;
  font-size: 1.6rem;
  border: 2px solid #aaa;
  border-radius: 5px;
  display: block;
  padding: 1rem 1.4rem 0.9rem;
  position: relative;
}

.form input:focus {
  outline: none;
  border-color: black;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--valid-red);
  box-shadow: inset 0 0 25px rgba(230, 95, 95, 0.5);
}

.form input:required:valid:not(:placeholder-shown) {
  border-color: var(--valid-green);
  box-shadow: inset 0 0 25px rgba(52, 150, 7, 0.5);
}

.form input::placeholder {
  opacity: 0.7;
}

.form input:invalid:not(:placeholder-shown) + .error-message {
  display: block;
}

.label[for*="name"]::after,
.label[for*="name"]::after,
.label[for="email"]::after,
.label[for|="password"]::after {
  content: "*";
  font-size: 1.8rem;
  color: var(--valid-red);

  position: absolute;
  right: -1.2rem;
}

.error-message {
  display: none;
  color: var(--valid-red);
  font-size: 1.2rem;
  font-weight: 600;

  position: absolute;
  margin-top: 2px;
}

.bottom {
  padding: 3.5rem 2.8rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--green1);
  color: white;
  border: none;
  cursor: pointer;

  padding: 1.4rem 5rem;
  border-radius: 8px;
  margin-bottom: 2.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.login {
  color: var(--green1);
  font-size: 1.8rem;
}

.login-link {
  font-weight: 600;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* max-width: 1200px */
@media (max-width: 75em) {
  main {
    flex-direction: column;
  }

  .section {
    width: 100%;
  }

  .section--left {
    background-position: center;
  }

  .credit {
    display: none;
  }

  .section--right {
    justify-content: flex-start;
    width: 100%;
  }

  .logo-image {
    height: 80%;
    width: auto;
  }

  .logo-name {
    font-size: 9rem;
    height: 18rem;
    position: static;
  }

  .section-header > p,
  .form-heading {
    font-size: 2.2rem;
  }
}

/* max-width: 584px */
@media (max-width: 36.5em) {
  .inputs {
    width: 80%;
    gap: 1.4rem;
  }

  .section--left {
    background-position: center;
  }

  .logo-name {
    font-size: 4.8rem;
    height: 10rem;
  }

  .section-header {
    padding: 3rem 2.8rem;
    text-align: center;
    align-self: center;
  }

  .section-header > p,
  .form-heading {
    font-size: 2rem;
  }

  .form {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form input {
    width: 100%;
  }

  .error-message {
    position: relative;
  }

  .login {
    font-size: 1.6rem;
  }
}
